<!-- Add comment -->
<%= form_with model: Comment, url: user_post_comments_path(@user.id,@post.id),
method: :post, class:"mx-auto mt-8 flex flex-col sm:flex-row gap-4 mb-0 w-full space-y-4" do |f| %>
<div class="flex-1">
  <%= f.label :text, class:"sr-only" %>
  <div class="relative">
    <%= f.text_field :text, class:"w-full rounded-lg border-gray-200 p-3 text-sm",
    placeholder:"Enter the comment" %>
  </div>
</div>
<div class="flex items-center justify-center">
  <%= f.submit "Comment", class:"inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium
  text-white" %>
</div>
<% end %>
